@page
@model DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ServiceReview</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceReview.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceReview.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceReview.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceReview.Comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceReview.CreatedDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceReview.CreatedDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceReview.UpdatedDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceReview.UpdatedDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceReview.Appointment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceReview.Appointment.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ServiceReview?.AppointmentId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
