@page
@model PRN221.WebUi.Areas.Appointments.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container my-5">
    <h1 class="text-center mb-4">Appointment Details</h1>

    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4>Appointment</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3 col-md-2">
                    Booking Status
                </dt>
                <dd class="col-sm-9 col-md-10 mb-3">
                    @Html.DisplayFor(model => model.Appointment.Status)
                </dd>

                <dt class="col-sm-3 col-md-2">
                    Scheduled Date
                </dt>
                <dd class="col-sm-9 col-md-10 mb-3">
                    @Model.Appointment.Date.ToString("MM/dd/yyyy")
                </dd>

                <dt class="col-sm-3 col-md-2">
                    Scheduled Time
                </dt>
                <dd class="col-sm-9 col-md-10 mb-3">
                    @Model.Appointment.Time.ToString(@"hh\:mm")
                </dd>

                <dt class="col-sm-3 col-md-2">
                    @Html.DisplayNameFor(model => model.Appointment.Doctor)
                </dt>
                <dd class="col-sm-9 col-md-10 mb-3">
                    @Model.Appointment.Doctor.FirstName @Model.Appointment.Doctor.LastName
                </dd>

                <dt class="col-sm-3 col-md-2">
                    @Html.DisplayNameFor(model => model.Appointment.Patient)
                </dt>
                <dd class="col-sm-9 col-md-10 mb-3">
                    @Model.Appointment.Patient.FirstName @Model.Appointment.Patient.LastName
                </dd>

                <dt class="col-sm-3 col-md-2">
                    @Html.DisplayNameFor(model => model.Appointment.Service)
                </dt>
                <dd class="col-sm-9 col-md-10 mb-3">
                    @Html.DisplayFor(model => model.Appointment.Service.Name)
                </dd>

                <dt class="col-sm-3 col-md-2">
                    Payment
                </dt>
                <dd class="col-sm-9 col-md-10 mb-3">
                    <dl class="row">
                        <dt class="col-sm-4">Amount</dt>
                        <dd class="col-sm-8">@Model.Appointment.MedicalBill?.Price</dd>

                        <dt class="col-sm-4">Status</dt>
                        <dd class="col-sm-8">@Model.Appointment.MedicalBill?.Status</dd>
                    </dl>
                </dd>
            </dl>
        </div>
        <div class="card-footer text-center">
            <a asp-page="./Edit" asp-route-id="@Model.Appointment?.Id" class="btn btn-primary mr-2">Edit</a>
            <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>