@page
@model PRN221.WebUi.Areas.Appointments.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Update Appointment</h1>
<hr/>
<div class="row">
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Appointment.AppointmentId" type="hidden"/>
        <div class="form-group form-floating mb-3">
            <select class="form-control form-select" asp-items="ViewBag.Services" disabled>
            </select>
            <label>Service</label>
        </div>

        <div class="form-group form-floating mb-3">
            <select class="form-control form-select" asp-items="ViewBag.Doctors" disabled>
            </select>
            <label>Doctor</label>
        </div>

        <div class="form-group form-floating mb-3">
            <input asp-for="Appointment.Date" type="date" class="form-control" onchange="loadTimeSlotsPartial(this.value)" onload="loadTimeSlotsPartial(this.value)"/>
            <label asp-for="Appointment.Date"></label>
            <span asp-validation-for="Appointment.Date" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <input asp-for="Appointment.Time" type="hidden"/>
            <div id="timeSlotsPartial">
            </div>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Appointment.File">Medical Record</label>
            <div class="input-group">
                <input asp-for="Appointment.File" type="file" class="form-control" value="@Model.FilePath"/>
                @if (!string.IsNullOrEmpty(Model.FilePath))
                {
                    <a class="btn btn-outline-secondary" href="@(Url.Content("~/uploads/") + Model.FilePath)" download>Download</a>
                }
            </div>
            <span asp-validation-for="Appointment.File" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Confirm" class="btn btn-primary"/>
             <a class="btn btn-primary" asp-page="./Index">Back to List</a>
        </div>
    </form>
</div>

@section Scripts
{
    <script>
        $(document).ready(function() {
            console.log('@Model.Appointment.Date');
            loadTimeSlotsPartial('@Model.Appointment.Date.ToString("MM/dd/yyyy")');
         });
    
        function loadTimeSlotsPartial(date) {
            const doctorId = '@Model.Appointment.DoctorId';
            const bookedDate = '@Model.BookedDate.Date.ToString("MM/dd/yyyy")';
            const bookedTime = '@Model.BookedTime';
            
            $.ajax({
                url: '/Appointments/Edit',
                method: 'GET',
                data: {
                    handler: 'AvailableSlotsPartial',
                    date: date,
                    doctorId: doctorId,
                    bookedDate: bookedDate,
                    bookedTime: bookedTime
                },
                success: function(response) {
                    document.getElementById('timeSlotsPartial').innerHTML = response;
                    console.log(response);
                },
                error: function(xhr, status, error) {
                    // Handle errors
                    console.error(xhr.responseText);
                }
            });
        }
        function timeSlotSelected(button) {
            console.log("click");
            const selectedTime = $(button).data('time');
            console.log(selectedTime);
            $('#Appointment_Time').val(selectedTime);
            $('.time-slot-btn').removeClass('btn-primary').addClass('btn-outline-primary');
            $(button).removeClass('btn-outline-primary').addClass('btn-primary');
        }
    </script>
}
<div class="container-fluid bg-dark text-light footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="container-fluid bg-dark text-light footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
                <div class="container py-5">
                    <div class="row g-5">
                        <div class="col-lg-3 col-md-6">
                            <h5 class="text-light mb-4">Address</h5>
                            <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>FPT University - Hoa Lac</p>
                            <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+09 444 44446</p>
                            <p class="mb-2"><i class="fa fa-envelope me-3"></i>clinik@gmail.com</p>
                            <div class="d-flex pt-2">
                                <a class="btn btn-outline-light btn-social rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-light btn-social rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-light btn-social rounded-circle" href=""><i class="fab fa-youtube"></i></a>
                                <a class="btn btn-outline-light btn-social rounded-circle" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <h5 class="text-light mb-4">Services</h5>
                            <a class="btn btn-link" href="">Cardiology</a>
                            <a class="btn btn-link" href="">Pulmonary</a>
                            <a class="btn btn-link" href="">Neurology</a>
                            <a class="btn btn-link" href="">Orthopedics</a>
                            <a class="btn btn-link" href="">Laboratory</a>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <h5 class="text-light mb-4">Quick Links</h5>
                            <a class="btn btn-link" href="">About Us</a>
                            <a class="btn btn-link" href="">Contact Us</a>
                            <a class="btn btn-link" href="">Our Services</a>
                            <a class="btn btn-link" href="">Terms & Condition</a>
                            <a class="btn btn-link" href="">Support</a>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <h5 class="text-light mb-4">Newsletter</h5>
                            <p>The pain should be just as important as the clita itself.</p>
                            <div class="position-relative mx-auto" style="max-width: 400px;">
                                <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                                <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Include Bootstrap JS and other necessary scripts -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>